<template>
  <div>
    <loading v-if="loading" />
    <template v-else>
      <slot name="header" />
      <figure>
        <graph :config="config" />
        <slot name="caption" />
      </figure>
    </template>
  </div>
</template>
<script>
import { retrieveHistory } from '@/assets/index';
import Loading from './Loading.vue';
import Graph from './Graph.vue';
import getChartConfig from '@/assets/chartConfig';

export default {
  components: {
    Loading,
    Graph,
  },
  props: {
    projectKey: {
      type: String,
      required: true,
    },
    target: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      config: {},
      loading: true,
    };
  },
  mounted() {
    retrieveHistory(this.projectKey, this.target)
      .then(dataset => getChartConfig(this.target, dataset))
      .then(config => {
        this.config = config;
        this.loading = false;
      });
  },
};
</script>
