<template>
  <div>
    <slot />
    <pre>{{ errorSerialized }}</pre>
  </div>
</template>
<script>
export default {
  props: { error: { type: Error, required: true } },
  computed: {
    errorSerialized() {
      return this.error.stack ? this.error.stack : this.error.message;
    },
  },
};
</script>
<style scoped>
pre {
  padding-left: 1rem;
}
</style>
