<template>
  <abbr :title="title">
    {{ timeAgo }}
  </abbr>
</template>
<script>
import moment from 'moment';

export default {
  props: {
    date: {
      type: Date,
      required: true,
    },
  },
  computed: {
    title: function() {
      if (Object.prototype.toString.call(this.date) !== '[object Date]') {
        return 'unknown time';
      }
      return (
        this.date.toLocaleDateString() + ' ' + this.date.toLocaleTimeString()
      );
    },
    timeAgo: function() {
      if (Object.prototype.toString.call(this.date) !== '[object Date]') {
        return 'unknown time';
      }

      return moment(this.date).fromNow();
    },
  },
};
</script>
