<template>
  <div>
    <loading v-if="loading" />
    <error v-else-if="error" :error="error">
      Could not load metadata for GitLab CE/EE Diff stats
    </error>
    <template v-else>
      <card>
        <h2>
          Diff between GitLab CE / EE
        </h2>
        <chart project-key="ce/ee" target="diff">
          <p slot="header">
            Progress over time:
          </p>
          <figcaption slot="caption">
            This graph plots Touched files
            <file file-class="blue" />
            and Deletions/Insertions (<file file-class="red" />/<file
              file-class="green"
            />) against time.<br />
            Hover over a spot in the diagram to see more details.
          </figcaption>
        </chart>
      </card>
    </template>
  </div>
</template>
<script>
import File from './File.vue';
import Loading from './shared/Loading.vue';
import Error from './shared/Error.vue';
import Card from './shared/Card.vue';
import Chart from './shared/Chart.vue';

export default {
  components: {
    Card,
    Error,
    Chart,
    File,
    Loading,
  },
  props: {},
  data() {
    return { loading: true, error: false };
  },
  mounted() {
    this.loading = false;
  },
};
</script>
