<template>
  <div
    :class="{
      green: !fileClass && pretty,
      red: !fileClass && !pretty,
      [fileClass]: fileClass,
    }"
    :style="{ width: `${dimension}px`, height: `${dimension}px` }"
    :title="title"
    class="file"
  />
</template>
<script>
const colors = ['', 'green', 'red', 'blue', 'yellow'];

export default {
  props: {
    dimension: {
      type: Number,
      default: 5,
    },
    pretty: {
      type: Boolean,
      default: false,
    },
    fileClass: {
      type: String,
      validator: function(value) {
        // The value must match one of these strings
        return colors.includes(value);
      },
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
  },
};
</script>
<style scoped>
.file {
  background: black;
  margin: 1px;
  width: 5px;
  height: 5px;
  display: inline-block;
}

.file.green {
  background: #2ecc40;
}

.file.yellow {
  background: #ccb42d;
}

.file.red {
  background: #ff4136;
}

.file.blue {
  background: #2d8fcc;
}
</style>
