<template>
  <div>
    <loading v-if="loading" />
    <template v-else>
      <slot name="header" />
      <figure>
        <div class="file-container">
          <file
            v-for="file in files"
            :key="file.name"
            :pretty="file.pretty"
            :file-class="file.class"
            :dimension="file.dim"
            :title="file.title"
          />
        </div>
        <slot name="caption" />
      </figure>
    </template>
  </div>
</template>
<script>
import { retrieveFiles } from '@/assets';
import Loading from './shared/Loading.vue';
import File from './File.vue';

export default {
  components: {
    File,
    Loading,
  },
  props: {
    projectKey: {
      type: String,
      required: true,
    },
    target: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      files: [],
      loading: true,
    };
  },
  mounted() {
    retrieveFiles(this.projectKey, this.target).then(files => {
      this.files = files;
      this.loading = false;
    });
  },
};
</script>
<style scoped>
.file-container {
  display: flex;
  overflow: hidden;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
</style>
