<template>
  <div>
    <div class="container">
      <h1>Is GitLab still doing the <em>splits</em>?</h1>
    </div>
    <card>
      <p>
        Before GitLab had a <a :href="link">single codebase </a>, we had two
        separate repositories: GitLab Community Edition (CE) and GitLab
        Enterprise Edition (EE).
      </p>
      <p>
        Before we were able to merge them both into one codebase, we needed to
        make sure that there was no difference in the shared code of both. This
        page shows the historical increase and decrease in divergence between
        the two repositories between January 2016 and September 2019.
      </p>
      <p>
        The diff ignores files that only have changed lines consisting of:
      </p>
      <ul>
        <li>only whitespaces</li>
        <li>
          <code>prepend EE::</code>, <code>include EE::</code>,
          <code>extend EE::</code>, <code>prepend(EE::</code> and it's
          <code>QA::EE</code> counterparts
        </li>
        <li>ruby style comments (<code>#</code>)</li>
      </ul>
      <p>
        The git command to generate the diff is:
      </p>
      <pre>

      git diff ce/master..origin/master -- . \
        :!ee :!CHANGELOG-EE.md :!locale :!db :!qa/qa/ee :!qa/spec/ee \
        :!qa/qa/specs/features/ee :!qa/qa/ee.rb \
        :!scripts/ee-specific-lines-check :!scripts/ee-files-location-check \
        :!scripts/ee_specific_check/ee_specific_check.rb
      </pre>
    </card>
    <diff-meta-data />
  </div>
</template>

<script>
import Card from '~/components/shared/Card.vue';
import DiffMetaData from '~/components/DiffMetaData.vue';

export default {
  components: {
    Card,
    DiffMetaData,
  },
  data() {
    return {
      link:
        'https://about.gitlab.com/2019/08/23/a-single-codebase-for-gitlab-community-and-enterprise-edition/',
    };
  },
};
</script>
<style scoped>
li {
  margin-bottom: 0;
  margin-left: 2rem;
}
</style>
