<template>
  <div class="container">
    <h1>Is GitLab <em>funny</em> yet?</h1>
    <card>
      We are currently working on migrating Frontend unit tests from
      <a href="https://gitlab.com/groups/gitlab-org/-/epics/895"
        >karma to jest</a
      >, track our progress below.
    </card>
    <jest-meta-data />
  </div>
</template>

<script>
import Card from '~/components/shared/Card.vue';
import JestMetaData from '~/components/JestMetaData.vue';

export default {
  components: {
    Card,
    JestMetaData,
  },
};
</script>
